<%= form_for(@mensalidade) do |f| %>
  <% if @mensalidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mensalidade.errors.count, "error") %> prohibited this mensalidade from being saved:</h2>

      <ul>
      <% @mensalidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pago %><br>
    <%= f.check_box :pago %>
  </div>
  <div class="field">
    <%= f.label :data_venc %><br>
    <%= f.text_field :data_venc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
