<p id="notice"><%= notice %></p>

<h1>Listing Mensalidades</h1>

<table>
  <thead>
    <tr>
      <th>Pago</th>
      <th>Data venc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mensalidades.each do |mensalidade| %>
      <tr>
        <td><%= mensalidade.pago %></td>
        <td><%= mensalidade.data_venc %></td>
        <td><%= link_to 'Show', mensalidade %></td>
        <td><%= link_to 'Edit', edit_mensalidade_path(mensalidade) %></td>
        <td><%= link_to 'Destroy', mensalidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mensalidade', new_mensalidade_path %>
