<%= form_for(@ficha_musc) do |f| %>
  <% if @ficha_musc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ficha_musc.errors.count, "error") %> prohibited this ficha_musc from being saved:</h2>

      <ul>
      <% @ficha_musc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :validade %><br>
    <%= f.text_field :validade %>
  </div>
  <div class="field">
    <%= f.label :obs %><br>
    <%= f.text_field :obs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
