<p id="notice"><%= notice %></p>

<p>
  <strong>Antebraco direito:</strong>
  <%= @ficha_aval_fisica.antebraco_direito %>
</p>

<p>
  <strong>Antebraco esquerdo:</strong>
  <%= @ficha_aval_fisica.antebraco_esquerdo %>
</p>

<p>
  <strong>Panturilha direita:</strong>
  <%= @ficha_aval_fisica.panturilha_direita %>
</p>

<p>
  <strong>Panturilha esquerda:</strong>
  <%= @ficha_aval_fisica.panturilha_esquerda %>
</p>

<p>
  <strong>Pescoco:</strong>
  <%= @ficha_aval_fisica.pescoco %>
</p>

<p>
  <strong>Torax:</strong>
  <%= @ficha_aval_fisica.torax %>
</p>

<p>
  <strong>Coxa direita:</strong>
  <%= @ficha_aval_fisica.coxa_direita %>
</p>

<p>
  <strong>Coxa esquerda:</strong>
  <%= @ficha_aval_fisica.coxa_esquerda %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @ficha_aval_fisica.peso %>
</p>

<p>
  <strong>Quadril:</strong>
  <%= @ficha_aval_fisica.quadril %>
</p>

<p>
  <strong>Braco esquerdo:</strong>
  <%= @ficha_aval_fisica.braco_esquerdo %>
</p>

<p>
  <strong>Braco direito:</strong>
  <%= @ficha_aval_fisica.braco_direito %>
</p>

<p>
  <strong>Ombro:</strong>
  <%= @ficha_aval_fisica.ombro %>
</p>

<p>
  <strong>Abdome:</strong>
  <%= @ficha_aval_fisica.abdome %>
</p>

<p>
  <strong>Cintura:</strong>
  <%= @ficha_aval_fisica.cintura %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @ficha_aval_fisica.altura %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @ficha_aval_fisica.obs %>
</p>

<%= link_to 'Edit', edit_ficha_aval_fisica_path(@ficha_aval_fisica) %> |
<%= link_to 'Back', ficha_aval_fisicas_path %>
